html, body {
    height: 150%;
    margin: 0;
    font-family: Arial, sans-serif;
}

a {
    color: rgb(216, 212, 222);
    text-decoration: none;
}

h1 {
    border-bottom: 3px solid gray;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 50px;
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    border-right: 3px solid gray;
    margin: 0;
    padding: 20px; /* padding 값을 줄입니다 */
    width: 180px; /* width 값을 줄입니다 */
    font-size: 22px;
    height: 100%;
}

nav ul li {
    margin-bottom: 10px;
    margin-top:40px;
}

nav ul li a {
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#content {
    display: flex;
    height: calc(100% - 140px); /* 헤더와 푸터를 제외한 높이 */
}

main {
    flex: 1;
    padding: 20px;
    padding-left: 50px;
}

p {
    font-size: 20px;
}

h2 {
    margin-top: 25px;
    font-size: 70px;
}

.chart-container {
    display: flex;
    justify-content: space-between;
}

.chart-category {
    border-color: rgb(67, 65, 65);
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 1rem;
}

.chart-category ul {
    list-style: none;
    padding: 0;
}

.chart-category ul li {
    margin-bottom: 10px;
}

.chart-category ul li a {
    color: #333;
    text-decoration: none;
}

.chart-category ul li a:hover {
    text-decoration: underline;
}

.chart-details {
    margin-top:50px;
    margin-right:1px;
    margin-left:13px;
    width: 94.5%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
   
}

th, td {
    padding: 16px;
    text-align: left;
    
}

th {
    background-color: #f2f2f2;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
